<!doctype html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
	<title>Price Comparison</title>
	<link rel="stylesheet" href="{% static 'main/css/Fontawesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'PriceComparison/css/style.css'%}"/>''
	<!--using FontAwesome---------------->
	<script src="{% static 'main/js/all.min.js' %}"></script>
</head>
	<body>
		<section>
			<div class="container">
				<h2>PriceComparison</h2>
				{% for model in Brands %}
				<div class="row100">
					<div class="col">
						<div class="box">
							<input type="text" name="" required="required">
							<span class="text">First Name</span>
							<span class="line"></span>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<input type="text" name="" required="required">
							<span class="text">Last Name</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<div class="box">
							<input type="text" name="" required="required">
							<span class="text">Mobile</span>
							<span class="line"></span>
						</div>
					</div>
					<div class="col">
						<div class="box">
							<input type="text" name="" required="required">
							<span class="text">Email</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<div class="box textarea">
							<textarea required="required" ></textarea>
							<span class="text">Type Your Message here..</span>
							<span class="line"></span>
						</div>
					</div>
				</div>
				<div class="row100">
					<div class="col">
						<input type="submit" value="send">
					</div>
				</div> -->
				<!-- <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
					<div class="single-product">
						<div class="product-thumb" style="width: 20px;">
							<a href="/specification/{{model.Model}}/{{model.id}}"><img src="{{ model.Thumbnail.url}}" alt=""></a>
						</div>
						<div class="product-title">
							<h3><a href="/specification/{{model.Model}}/{{model.id}}">{{model.Model}}</a></h3>
						</div>
						<div class="product-btns">
							<a href="#" class="btn-round mr-2"><i class="fa fa-shopping-cart"></i></a>
							<a href="#" class="btn-round"><i class="fa fa-heart"></i></a>
						</div>
					</div>
				</div> -->
				
				{% endfor%}
			</div>
		</section>

		<!-- <div class="sidebar">
			<div class="logo-details">
			  <i class='fa fa-bars icon'></i>
				<div class="logo_name">CodingLab</div>
				<i class='bx bx-menu' id="btn" ></i>
			</div>
			<ul class="nav-list">
			  <li>
				  <i class='fa fa-bars' ></i>
				 <input type="text" placeholder="Search...">
				 <span class="tooltip">Search</span>
			  </li>
			  <li>
				<a href="#">
				  <i class='bx bx-grid-alt'></i>
				  <span class="links_name">Dashboard</span>
				</a>
				 <span class="tooltip">Dashboard</span>
			  </li>
			  <li>
			   <a href="#">
				 <i class='bx bx-user' ></i>
				 <span class="links_name">User</span>
			   </a>
			   <span class="tooltip">User</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-chat' ></i>
				 <span class="links_name">Messages</span>
			   </a>
			   <span class="tooltip">Messages</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-pie-chart-alt-2' ></i>
				 <span class="links_name">Analytics</span>
			   </a>
			   <span class="tooltip">Analytics</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-folder' ></i>
				 <span class="links_name">File Manager</span>
			   </a>
			   <span class="tooltip">Files</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-cart-alt' ></i>
				 <span class="links_name">Order</span>
			   </a>
			   <span class="tooltip">Order</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-heart' ></i>
				 <span class="links_name">Saved</span>
			   </a>
			   <span class="tooltip">Saved</span>
			 </li>
			 <li>
			   <a href="#">
				 <i class='bx bx-cog' ></i>
				 <span class="links_name">Setting</span>
			   </a>
			   <span class="tooltip">Setting</span>
			 </li>
			 <li class="profile">
				 <div class="profile-details">
				   <img src="profile.jpg" alt="profileImg">
				   <div class="name_job">
					 <div class="name">Prem Shahi</div>
					 <div class="job">Web designer</div>
				   </div>
				 </div>
				 <i class='bx bx-log-out' id="log_out" ></i>
			 </li>
			</ul>
		  </div>
		  <section class="home-section">
			  <div class="text">Dashboard</div>
		  </section>
		
		  <script src="{% static 'PriceComparison/js/script.js' %}"></script>
		 -->
	</body>
</html>
